
.header{
  position: relative;
  .navbar-bottom{
    @media(max-width:$screen-xs-max){
      padding: 10px 0;
    }
    .container{
      display: flex;
      align-items: center;
    }
    .logo{
      width: 130px;
      margin-right: auto;
      @media(max-width:$screen-xs-max){
        width: 72px;
      }
    }
    .navbar-nav{
      padding: 0;
      margin: 0;
      list-style: none;
      @media(max-width:$screen-xs-max){
        padding: 0 20px;
      }
      li{
        @media(min-width:$screen-sm){
          display: inline-block;
          margin-right: 50px;
        }
        @media(max-width:$screen-xs-max){
          padding: 15px 0;
        }
        a{
          font-weight: bold;
          text-transform:capitalize;
          color: $nav-link;
          font-size: 16px;
          @media(max-width:$screen-xs-max){
            color: #fff;
          }
        }
      }
    }
    .btn-outline{
      height: 48px;
      line-height: 46px;
      min-width: 150px;
      font-size: 16px;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  .icon-pushmenu {
    cursor: pointer;
    display: none;
    
    @media (max-width: $screen-xs-max) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img{
        width: 30px;
      }
    }
  }
}

.mobile-nav{
  @media(min-width:$screen-sm){
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
  }
  @media (max-width: $screen-xs-max) {
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    top: 56px;
    background: $theme-color;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
    left: 0;
    @include transition2;
    &.active{
        transform: translateX(0);
    }
  } 
  
}