// Popup
.no-scroll {
  &:before {
    position: fixed;
    z-index: 20;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
.modal-popup_style2 {
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 99;

  outline: 0;
  text-align: center;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  visibility: hidden;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  &.open {
    visibility: visible;
    bottom: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.popup-container {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: #181818;
}
.popup-close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  position: absolute;

  right: -15px;

  top: -15px;

  cursor: pointer;
  background: #181818;
  border-radius: 50%;
  font-size: 14px;
  z-index: 20;
  [class*="fa"] {
    color: $white;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 20;
}

.pu-video {
  width: calc(100% - 20px);
  @media (min-width: $screen-sm) {
    max-width: 900px;
  }
  max-width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;

  .video-content {
    padding-top: 56.25%;

    iframe {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: $screen-xs) {
    margin-left: 3px;
    width: 100%;
    .popup-close {
      @include center;
      top: -30px;
      @include circle(40px);
    }
    .video-content {
      padding-top: 80%;
    }
  }
  .img {
    width: 480px;
  }
}
.pu-review {
  @media (min-width: $screen-sm) {
    width: 750px;
  }
  @media (max-width: $screen-xs-max) and (min-width: $screen-xs) {
    width: calc(100% - 100px);
    margin: 30px 0;
    height: 100vh;
  }
  width: calc(100% - 30px);

  @include center;
  .pu-content {
    padding-bottom: 30px;
  }
  .heading {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  iframe {
    border-radius: 5px;
    width: 100%;
    height: 300px;
    border: 0;
  }
  .content {
    color: $white;
    padding: 0 30px;
    height: 300px;
    overflow-y: scroll;

    .cast-list {
      margin-top: 10px;

      .cast-item {
        margin-bottom: 5px;
        // &.genres-list{
        //     span:not(.text){
        //         position: relative;
        //         padding-right: 10px;
        //             &:not(:last-child){
        //                 &:before{
        //                     content:',';
        //                     position: absolute;
        //                     right:5px;
        //                 }
        //             }

        //     }
        // }
      }
      .text {
        color: #777;
      }
    }
  }
  .similar-listing {
    position: relative;
    .btn-clickmore {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: inherit;
      bottom: -23px;
      width: 100%;
      height: 6em;
      border-bottom: 2px solid #404040;
      text-align: center;
      background-image: linear-gradient(
        to top,
        #181818 0,
        rgba(24, 24, 24, 0.7) 20%,
        rgba(24, 24, 24, 0.4) 30%,
        transparent 50%
      );
      padding-bottom: 16px;
      .circle-btn {
        @include circle(32px);
        line-height: 28px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(42, 42, 42, 0.6);
        display: inline-block;
        @include center;
        top: 100%;
        cursor: pointer;
      }
    }
    .heading {
      margin-bottom: 20px;
    }
    [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px;
      &:nth-child(3n + 1) {
        clear: left;
      }
    }
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    .item {
      margin-bottom: 20px;
      .photo {
        img {
          width: 100%;
          height: 100%;
          border-radius: 2px 2px 0 0;
        }
        position: relative;
        @include transition2;
        &:hover {
          &:before {
            opacity: 1;
          }
          .circle-icon {
            opacity: 1;
          }
        }
        &:before {
          content: "";
          background: rgba(0, 0, 0, 0.3);
          @include center;
          width: 100%;
          height: 100%;
          opacity: 0;
          @include transition2;
        }
        .circle-icon {
          cursor: pointer;
          @include circle(30px);
          border: 2px solid $white;
          line-height: 26px;
          color: $white;
          @include center;
          opacity: 0;
          @include transition2;
        }
      }
      .info {
        background-color: #2f2f2f;
        padding: 10px;
      }
      .desc {
        @include text-clamp(4);
        height: 86px;
        overflow: hidden;
      }
      .top-info {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        .circle-icon {
          cursor: pointer;
          @include circle(30px);
          border: 2px solid rgba(255, 255, 255, 0.5);
          line-height: 26px;
          color: $white;
          margin-left: auto;
          &:hover {
            border-color: $white;
          }
        }
        .text-match {
          i {
            color: rgb(245, 197, 24);
            font-size: 14px;
          }
          color: #fff;
          font-weight: 500;
          margin-right: 10px;
        }

        .date {
          color: #fff;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.view-transition-fade-expand-enter-active {
  -webkit-animation: fadeExpand 150ms;
  -o-animation: fadeExpand 150ms;
  animation: fadeExpand 150ms;
}

.view-transition-fade-shrink-leave {
  -webkit-animation: fadeShrink 150ms;
  -o-animation: fadeShrink 150ms;
  animation: fadeShrink 150ms;
}

@-webkit-keyframes fadeExpand {
  from {
    opacity: 0;
    -webkit-transform: scale(0.75);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes fadeExpand {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fadeShrink {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  to {
    opacity: 0;
    -webkit-transform: scale(0.75);
  }
}

@keyframes fadeShrink {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.75);
  }
}

.scroll_pu_content::-webkit-scrollbar {
  width: 3px;
  background-color: #181818;
}

.scroll_pu_content::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
