
$white: #fff;
$black: #000 !default;
$nocolor: transparent !default;

$font-base: 'Quicksand', sans-serif;
$second-font: 'UTM Hanzel';

$base-color: #222;
$color-hover: rgb(13, 46, 78);

$title-color: #000; //  Title color
$heading: #002b6c;
$body-color: #59616e; //Body color

$social: #999;

$detail: #272727;

$nav-link: #707070;

$f_bg: #223259;
$f-sub: #b2b5c1;
$f-heading: #1e448d;
$f-line: #7991c9;
$ws: #b2b5c1;

$gray: #777;
$sub-color: #41763b;
$dark-bg: #233663;

$place-color: #9ea6ab;
$place-color2: #777;

$theme-color: #5a8dee !default;
$border-color: #ebecef !default;
$border-color2: #d7dfe3 !default;

$border-line: #ededed;
$org: linear-gradient(97.29deg, #f3b05d 1.16%, #f38a5d 81.65%);
$blue: #24428f;
$green: #8ec640;
$red: rgb(244, 106, 106);
$star: #f3ac21;

$error: #d64237;

$gray: #f9f9f9;
$yl: #ffab00;
$ipx: 813px !default;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

$bg-connect: linear-gradient(262.92deg, #66d54b 6.49%, #17c653 108.73%);
$bg-warning: linear-gradient(45deg, #ffb64d, #ffcb80);

.notifi {
  display: flex;
  align-items: center;
  background: #fff;
  transition: 0.3s ease;
  position: fixed;
  pointer-events: auto;
  overflow: hidden;
  padding: 8px;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
  z-index: 10000000;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.notification-message {
  margin: 0;
  text-align: left;
  margin-left: -1px;
   /* overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap; */
  font-size: 14px;
  white-space: pre-wrap;
}

.notification-image {
  float: left;
  margin-right: 10px;
  text-align: center;
}

.notification-image i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.custom-toast {
  width: 146px;
  min-height: 56px;
  color: #fff;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bg-success {
  color: white;
  background-color: rgba(52, 195, 143);
}

.bg-error {
  color: white;
  background-color: rgba(244, 106, 106);
}

.bg-warning {
  color: #f1b44c;
  background-color: rgba(241, 180, 76, 0.18);
}
.bg-error-call {
  color: #f46a6a;
  background-color: rgba(244, 106, 106, 0.18);
}

.bg-success-call {
  color: #34c38f;
  background-color: rgba(52, 195, 143, 0.18);
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.error-text {
  color: $error;
}

.loading {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.spinning-loader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #e5edfc;
  border-left-color: $theme-color;
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 1rem auto;
}