@import "components/variables.scss";
@import "components/vendor.scss";
@import "components/mixin.scss";
@import "components/base.scss";
:root {
  --body-bg: #f5f8ff;
  --box-bg: #fff;
  --input-bg: #f7f7f7;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
  --border-color: #4267b2;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}
.header.credit .navbar-bottom .container {
  display: flex;
  align-items: center;
}
.header {
  .navbar-bottom {
    padding: 10px 0;
    box-shadow: 0px 0px 20px -10px rgb(41 41 41 / 25%);
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1140px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}
*:before,
*:after {
  box-sizing: border-box;
}

.header.credit .navbar-bottom .logo {
  width: 130px;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

input,
textarea,
.form-control,
button,
.btn {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button {
  border: none;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}

@media (min-width: 768px) {
  .mobile-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.header.credit .navbar-bottom .navbar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block !important ;
}

.header.credit .navbar-bottom .navbar-nav li {
  @media (min-width: $screen-sm) {
    display: inline-block;
    margin-right: 50px;
  }
}
* {
  box-sizing: border-box;
}
user agent stylesheet li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.header.credit .navbar-bottom .navbar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header.credit .navbar-bottom .navbar-nav li a {
  font-weight: bold;
  text-transform: capitalize;
  color: #707070;
  font-size: 16px;
  &:hover {
    color: $theme-color;
  }
}
.header.credit .navbar-bottom .navbar-nav li.active a {
  color: $theme-color;
}
.header.credit .navbar-bottom .btn-outline {
  height: 36px;
  line-height: 34px;
  min-width: 120px;
  font-size: 14px;
}
.btn-outline.br-theme {
  color: #00b4fa;
  border-color: #00b4fa;
}
.btn-outline {
  font-weight: 600;
  padding: 0 17px;
  letter-spacing: 0.05em;
  font-size: 20px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
}

/* footer */
.footer-mcall {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-mcall .footer-top {
  background: #141ed2;
  color: #fff;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0 24px;
  border-bottom: 1px solid #fff;
}

.footer-menu li {
  display: inline-block;
}

.footer-menu li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #fff;
}

.copyright {
  padding: 5px 0;
  color: #fff;
  background: $theme-color;
  p {
    margin: 0;
  }
}
.login-form {
  max-width: 480px;
  margin: 120px auto;
  padding: 50px 20px;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  .label-name {
    font-weight: 600;
    text-transform: capitalize;
  }
  .form-input {
    margin-bottom: 10px;
  }
  .form-control {
    height: 40px;
    font-size: 14px;
  }
  .btn {
    height: 40px;
    width: 120px;
    color: #fff;
    font-size: 14px;
  }
  .title {
    font-size: 28px;
  }
}

.form-create-call {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  margin-top: 15px;
  background: #fff;
  .form-control {
    width: 100%;
    height: 38px;
    border-radius: 0.5rem;
    font-size: 16px;
  }
  label {
    font-weight: bold;
  }
  .alert {
    padding: 5px 10px;
  }
}

.credit-content {
  .card-body {
    position: fixed;
    bottom: 45px;
    left: -100%;
    @media (min-width: $screen-sm) {
      width: 400px;
    }
    width: calc(100% - 30px);
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 0.5em;
    background: #fff;
    z-index: 99;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    .form-input {
      position: relative;
      .form-control {
        padding-right: 35px;
        font-size: 16px;
      }
    }
    button {
      width: 100%;
      height: 100%;
      text-align: right;
      position: absolute;
      right: 0;
      color: #2d8cff;
      cursor: pointer;
      background: transparent;
      i {
        margin-right: 10px;
      }
    }
  }
  .card-body.active {
    left: 15px;
  }
  .btn-warning {
    color: #fff;
  }
  .btn {
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
  }
}

.modal-popup_style2 {
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 99;

  outline: 0;
  text-align: center;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  visibility: hidden;
  &.style2 {
    visibility: inherit;
    transform: translate3d(80%, 0, 0);
  }
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  &.open {
    visibility: visible;
    bottom: 0;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.popup-container {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: #fff;
}
.popup-close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  position: absolute;

  right: -15px;

  top: -15px;

  cursor: pointer;
  background: #181818;
  border-radius: 50%;
  font-size: 14px;
  z-index: 20;
  [class*="fa"] {
    color: $white;
  }
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background: #fff;
}
.spinning-loader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #e5edfc;
  border-left-color: $theme-color;
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 1rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 20;
}
.pu-slide {
  @media (min-width: $screen-xs-max) {
    width: 500px;
  }
  width: calc(100% - 20px);
}

.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    width: 100% !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}

.pu-video,
.pu-slide {
  position: relative;
  .btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.table-attachments {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: scroll;
  .table {
    border: 1px solid #dedede;
    thead,
    tbody {
      font-size: 14px;
    }
    thead {
      background: #dedede;
    }
    .photo-img {
      width: 70px;
      border-radius: 0.5rem;
      cursor: pointer;
      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .table > thead > tr > th {
      border-bottom: 1px solid;
      vertical-align: middle;
    }

    tbody tr th {
      font-weight: 500;
      vertical-align: middle;
    }
  }
}

.table-attachments::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.table-attachments::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 999px;
}
.table-report {
  @media (min-width: 1025px) {
    // width: 930px;
  }
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  box-shadow: 0px 0px 20px -5px rgb(41 41 41 / 25%);
  border-radius: 0.25em;
  text-align: left;
  .table {
    thead,
    tbody {
      font-size: 14px;
    }
    thead {
      background: #dedede;
    }

    > thead > tr > th {
      border-bottom: 1px solid #dedede;
      vertical-align: middle;
    }

    tbody tr th {
      font-weight: 500;
      vertical-align: middle;
    }
  }
  .pagination-page-info {
    margin: 0 1rem;
  }
  .pagination-button-wrapper {
    text-align: right;
    margin: 0 10px;
    font-size: 14px;
  }
  .btn,
  .btn-play {
    background: $theme-color;
    border: none;
    color: #fff;
    font-size: 14px;
  }
  .btn {
    padding: 6px 12px;
  }
  .btn-play {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 12px;
    i {
      margin-left: 2px;
    }
  }
  .search-wrapper {
    position: relative;
  }
  .btn-filter {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: $theme-color;
    color: #fff;
    display: block;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 15px;
    margin-left: auto;
    cursor: pointer;
  }
  .box-search {
    @media (min-width: $screen-sm) {
      min-width: 390px;
    }
    @media (max-width: 767px) {
      width: 320px;
    }
    background: #fff;
    box-shadow: 0px 0px 20px -5px rgb(41 41 41 / 25%);
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 45px;
    padding: 15px;
    display: none;
    z-index: 10;
    &.active {
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
      display: block;
    }
    .form-input {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .label-name {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 5px;
      display: block;
    }
    .box-date {
      display: flex;
      .react-datepicker-wrapper:first-child {
        margin-right: 10px;
      }
    }
    .form-control {
      width: 100%;
      border: 1px solid #eee;
      height: 36px;
      border-radius: 3px;
      padding: 0 10px;
      font-size: 14px;
      box-shadow: none;
      &:focus {
        outline: none !important;
        outline-offset: none !important;
      }
    }
    input {
      width: 100%;
      border: 1px solid #eee;
      height: 36px;
      border-radius: 3px;
      padding: 0 10px;
      font-size: 14px;
      &:focus {
        outline: none !important;
        outline-offset: none !important;
      }
    }
  }
}
.pu-export {
  @media (min-width: $screen-xs-max) {
    width: 500px;
  }
  width: calc(100% - 20px);
  padding: 15px 20px;
  position: relative;
  .btn {
    background: $theme-color;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px;

    min-width: 120px;
  }
  .form-input {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .label-name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  .box-date {
    display: flex;
    .react-datepicker-wrapper:first-child {
      margin-right: 10px;
    }
  }
  .form-control {
    width: 100%;
    border: 1px solid #eee;
    height: 36px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    box-shadow: none;
    &:focus {
      outline: none !important;
      outline-offset: none !important;
    }
  }
  input {
    width: 100%;
    border: 1px solid #eee;
    height: 36px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    &:focus {
      outline: none !important;
      outline-offset: none !important;
    }
  }
}

.pu-feedback {
  @media (min-width: $screen-xs-max) {
    width: 500px;
  }
  width: calc(100% - 20px);
  padding: 15px 20px;
  .form-select {
    height: 36px;
    font-size: 14px;
  }
  .form-input {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .label-name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  textarea.form-control {
    height: 100px;
  }
  .form-control {
    font-size: 14px;
  }
  .btn {
    background: $theme-color;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px;

    min-width: 120px;
  }
}

.pu-face {
  position: relative;
  @media (min-width: $screen-xs-max) {
    width: 750px;
  }
  .content {
    padding: 20px;
  }
  .title {
    font-size: 18px;
  }
  .col-xs-6 {
    width: 50%;
    &:first-child {
      &:before {
        content: "";
        position: absolute;
        border-right: 1px solid #eee;
        right: 0;
        top: 0;
        height: 100%;
      }
    }
  }
  .btn {
    background: $theme-color;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px;

    min-width: 120px;
  }
}

.pu-cccd {
  box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  // top:-120px;
  @media (min-width: $screen-xs-max) {
    width: 650px;
  }
  .heading {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #e13131;
    margin-top: 20px;
    position: relative;
    .btn {
      position: absolute;
      right: 10px;
      top: 0;
    }
  }
  .content {
    padding: 20px;
  }

  .content {
    display: flex;
    &.style2 {
      display: block;
      .photo-img {
        display: none;
      }
    }
    .photo-img {
      margin-right: 20px;
      .photo {
        width: 180px;
      }
    }
    .color-title {
      color: #1963ad;
      font-weight: 700;
      font-size: 14px;
      span {
        font-weight: 600;
      }
    }
  }
  .expired {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  .code {
    padding-top: 15px;
    margin-top: 15px;
    word-break: break-word;
    font-weight: 500;
    font-size: 23px;
  }
  .btn {
    background: $theme-color;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px;

    min-width: 120px;
  }
}

.top-filter {
  display: flex;
  .search-wrapper {
    margin-left: 10px;
  }
}
.form-chart {
  position: relative;
  max-width: 500px;
  margin: 30px auto;
  padding: 15px;
  background: #eee;
  border-radius: 0.5rem;
  .form-select {
    height: 36px;
    font-size: 14px;
  }
  .btn {
    background: $theme-color;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px;

    min-width: 120px;
  }
  .form-input {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .label-name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
  }
  .box-date {
    display: flex;
    .react-datepicker-wrapper:first-child {
      margin-right: 10px;
    }
  }
  .form-control {
    width: 100%;
    border: 1px solid #eee;
    height: 36px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    box-shadow: none;
    &:focus {
      outline: none !important;
      outline-offset: none !important;
    }
  }
  input {
    width: 100%;
    border: 1px solid #eee;
    height: 36px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    &:focus {
      outline: none !important;
      outline-offset: none !important;
    }
  }
}
/* transform */
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 0;
  }
}

.user-info {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  padding: 30px 15px 30px 15px;
  position: relative;
  box-shadow: 0px 0px 20px -5px rgb(41 41 41 / 25%);
  border-radius: 0.25em;
  text-align: left;
  .alert {
    padding: 10px;
    font-size: 14px;
  }
  .form-input {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  input {
    width: 100%;
    border: 1px solid #eee;
    height: 36px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    &::-webkit-input-placeholder {
      font-size: 14px;
    }
    &:-moz-placeholder {
      font-size: 14px;
    }
    &::-moz-placeholder {
      font-size: 14px;
    }
    &:-ms-input-placeholder {
      font-size: 14px;
    }
    &:focus {
      outline: none !important;
      outline-offset: none !important;
    }
  }
  .label-name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  .btn {
    background: $theme-color;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
  }
}
.header-user-info {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  margin-top: 10px;
  &:hover {
    .box-user {
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
      display: block;
    }
  }
  .photo {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    background: #ddd;
    color: $theme-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .role-name {
    letter-spacing: 0.1em;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: -4px;
    color: $theme-color;
  }
  .username {
    text-align: left;
    font-size: 14px;
  }
  .box-user {
    min-width: 170px;
    background: #fff;
    box-shadow: 0px 0px 20px -5px rgb(41 41 41 / 25%);
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 35px;
    padding: 15px;
    display: none;
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    &.active {
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: slideIn;
      animation-name: slideIn;
      display: block;
    }

    li {
      padding: 8px 0;
      margin: 0 10px;
      &:not(:last-child) {
        border-bottom: 1px solid #f0f0f0;
      }
      a {
        font-size: 14px;
        display: block;
        &:hover {
          color: #00b4fa;
        }
      }
    }
  }
}
.percent-loading {
  position: absolute;
  bottom: 58px;
  left: 48%;
  font-weight: bold;
  font-size: 16px;
  color: #5a8dee;
}
//dots pulse

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $theme-color;
  color: $theme-color;
  box-shadow: 9999px 0 0 -5px $theme-color;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $theme-color;
  color: $theme-color;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px $theme-color;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px $theme-color;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px $theme-color;
  }
  30% {
    box-shadow: 9984px 0 0 2px $theme-color;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px $theme-color;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px $theme-color;
  }
  30% {
    box-shadow: 9999px 0 0 2px $theme-color;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px $theme-color;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px $theme-color;
  }
  30% {
    box-shadow: 10014px 0 0 2px $theme-color;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px $theme-color;
  }
}

// .videocall [class*="zmwebsdk-makeStyles-leave-"] {
//   display: none !important;
// }
.CustomleaveBtn {
  background: #ff0000 !important;
}

//  .videocall .zmwebsdk-MuiPaper-rounded button:nth-child(3){
//    display: none !important;
//  }

//  #menu-list-icon-more li:nth-child(2){
//    display: none !important;
//  }
// .zoommtg-drag-video .zmwebsdk-MuiBox-root button{
//   display: none !important;
// }

// [role=dialog] [class*="zmwebsdk-makeStyles-buttonGroup-"] button:last-child {
//   display: none !important;
// }
// #transition-popper [role=menu] [class*="zmwebsdk-makeStyles-btns-"] button:last-child {
//   display: none !important;
// }
[class*="zmwebsdk-MuiTypography-"] {
  font-size: inherit !important;
}

[class*="zmwebsdk-MuiTypography-body2"],
[class*="zmwebsdk-MuiTypography-button"] {
  font-size: 14px !important;
}

.drop-file-input {
  position: relative;
  width: 65%;
  height: 100px;
  border: 2px dashed $theme-color;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;

  background-color: var(--input-bg);
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  text-align: center;
  font-weight: 600;
  padding: 10px;
  .fa {
    color: $green;
    font-size: 30px;
  }
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 30px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  background-color: var(--input-bg);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.drop-file-preview__item img {
  width: 50px;
  margin-right: 20px;
}

.drop-file-preview__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.drop-file-preview__item__del {
  background-color: $theme-color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: var(--box-shadow);
  color: $white;
  cursor: pointer;
}
.drop-file-preview__item__info .file-name {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// toast

.notifi {
  display: flex;
  align-items: center;
  background: #fff;
  transition: 0.3s ease;
  position: fixed;
  pointer-events: auto;
  overflow: hidden;
  padding: 8px;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
  z-index: 1000;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.notification-message {
  margin: 0;
  text-align: left;
  // margin-left: -1px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  font-size: 14px;
}

.notification-image {
  float: left;
  margin-right: 10px;
  text-align: center;
}

.notification-image i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.custom-toast {
  width: 230px;
  min-height: 56px;
  color: #fff;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bg-success {
  background: linear-gradient(rgba(16, 185, 129, 1), rgba(5, 150, 105, 1) 81%);
}

.bg-error {
  background: #ef4444;
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.box-icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  &.face-fail {
    border: 2px solid $red;
    color: $red;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
}

.btn-ekyc {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  padding: 0 15px;
  margin-bottom: 10px;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: all !important;
  }
  [class*="fa"] {
    margin-right: 10px;
  }
  &.is-loading {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.cus-icon-phone {
  width: 24px;
  height: 24px;
  // background: url(../assets/images/contact_phone.svg) no-repeat center;
  background-size: 24px 24px;
  vertical-align: middle;
}

.cus-icon-card-1 {
  width: 24px;
  height: 24px;
  // background: url(../assets/images/card-1.svg) no-repeat center;
  background-size: 24px 24px;
  vertical-align: middle;
}

.cus-icon-card-2 {
  width: 24px;
  height: 24px;
  // background: url(../assets/images/card-2.svg) no-repeat center;
  background-size: 24px 24px;
  vertical-align: middle;
}

.card-body {
  .close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;

    text-align: center;
    line-height: 28px;
  }
}
.box-face {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  margin: 0 auto;
  .col {
    img {
      width: 78px;
    }
    img.active {
      border: 2px dashed #00ba88;
      border-radius: 50%;
      padding: 2px;
    }
  }
  .info {
    margin-top: 10px;
    .title {
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
    }
    .range {
      font-weight: bold;
    }
  }
}
.pu-face {
  .score {
    color: $red;
    font-size: 24px;
    font-weight: 600;
  }
}

.header {
  position: relative;
  .navbar-toggle {
    margin-left: 10px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-bottom {
    @media (max-width: $screen-xs-max) {
      padding: 10px 0;
    }
    .container {
      display: flex;
      align-items: center;
    }
    .logo {
      width: 130px;
      margin-right: auto;
      @media (max-width: $screen-xs-max) {
        width: 72px;
      }
    }
    .navbar-nav {
      padding: 0;
      margin: 0;
      list-style: none;
      @media (max-width: $screen-xs-max) {
        padding: 0 20px;
        background: $white;
      }
      li {
        @media (min-width: $screen-sm) {
          display: inline-block;
          margin-right: 50px;
        }
        @media (max-width: $screen-xs-max) {
          padding: 15px 0;
        }
        a {
          font-weight: bold;
          text-transform: capitalize;
          color: $nav-link;
          font-size: 16px;
          @media (max-width: $screen-xs-max) {
            color: #fff;
          }
        }
      }
    }
    .btn-outline {
      height: 48px;
      line-height: 46px;
      min-width: 150px;
      font-size: 16px;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  .icon-pushmenu {
    cursor: pointer;
    display: none;

    @media (max-width: $screen-xs-max) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 30px;
      }
    }
  }
}

.mobile-nav {
  @media (min-width: $screen-sm) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  @media (max-width: $screen-xs-max) {
    position: absolute;
    width: 100%;
    transform: translateX(-100%);
    top: 70px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
    left: 0;
    @include transition2;
    &.active {
      transform: translateX(0);
    }
  }
}

// video ekyc

.video-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  .ekyc-frame {
    @include center;
    width: 60%;
    height: 60%;
    z-index: 20;
  }
  &.capture {
    &:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      z-index: 10;
    }
  }
  &.invalid {
    &:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: rgba(255, 99, 71, 0.6);
      border: 2px solid rgba(255, 99, 71, 1);
      z-index: 20;
    }
    .message-invalid {
      background: #ddd;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 10px;
      z-index: 15;
      width: 260px;
    }
  }
}

.realtime-ekyc {
  width: 290px;
  margin: 0 auto;
}
